In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import json
from datetime import datetime

In [2]:
def printdf(df):
    print('decode\_duration & ', end='')
    st = ''
    for i in [50, 75, 90, 99]:
        st += str(int(np.percentile(df['decode_duration'], i)))
        st += " & "
    print(st[:-3] + ' \\\\')
    st = ''
    print('prechecks\_duration & ', end='')
    for i in [50, 75, 90, 99]:
        st += str(int(np.percentile(df['prechecks_duration'], i)))
        st += " & "
    print(st[:-3] + ' \\\\')
    st = ''
    print('simulation\_duration & ', end='')
    for i in [50, 75, 90, 99]:
        st += str(int(np.percentile(df['simulation_duration'], i)))
        st += " & "
    print(st[:-3] + ' \\\\')
    st = ''
    print('redis\_update\_duration & ', end='')
    for i in [50, 75, 90, 99]:
        st += str(int(np.percentile(df['redis_update_duration'], i)))
        st += " & "
    print(st[:-3] + ' \\\\')
    st = ''
    print('total\_duration & ', end='')
    for i in [50, 75, 90, 99]:
        st += str(int(np.percentile(df['total_duration'], i)))
        st += " & "
    print(st[:-3] + ' \\\\')

In [2]:
df = pd.read_csv('prod.txt', delimiter="|")
df.head()

,optimistic_submission,decode_duration,prechecks_duration,simulation_duration,redis_update_duration,total_duration
0,f,12410,1786,75578,6903,96678
1,f,89843,1617,105741,6568,203771
2,f,7900,1768,96445,7302,113417
3,f,90470,1353,98227,5276,195328
4,f,87590,1465,101181,5469,195707

In [3]:
len(df[df['optimistic_submission']=='f']),len(df[df['optimistic_submission']=='t']), len(df)

(313709, 0, 313709)

In [6]:
opts = df[df['optimistic_submission']=='t']
nopts = df[df['optimistic_submission']=='f']

In [24]:
print('decode\_duration & ', end='')
st = ''
for i in [50, 75, 90, 99]:
    st += str(int(np.percentile(nopts['decode_duration'], i)))
    st += " & "
print(st[:-3] + ' \\\\')
st = ''
print('prechecks\_duration & ', end='')
for i in [50, 75, 90, 99]:
    st += str(int(np.percentile(nopts['prechecks_duration'], i)))
    st += " & "
print(st[:-3] + ' \\\\')
st = ''
print('simulation\_duration & ', end='')
for i in [50, 75, 90, 99]:
    st += str(int(np.percentile(nopts['simulation_duration'], i)))
    st += " & "
print(st[:-3] + ' \\\\')
st = ''
print('redis\_update\_duration & ', end='')
for i in [50, 75, 90, 99]:
    st += str(int(np.percentile(nopts['redis_update_duration'], i)))
    st += " & "
print(st[:-3] + ' \\\\')
st = ''
print('total\_duration & ', end='')
for i in [50, 75, 90, 99]:
    st += str(int(np.percentile(nopts['total_duration'], i)))
    st += " & "
print(st[:-3] + ' \\\\')

decode\_duration & 85825 & 102152 & 145801 & 289706 \\
prechecks\_duration & 1739 & 2234 & 7220 & 311633 \\
simulation\_duration & 112371 & 144825 & 214686 & 735024 \\
redis\_update\_duration & 6603 & 9097 & 30487 & 497240 \\
total\_duration & 205061 & 282684 & 480828 & 1245993 \\

In [29]:
winners = pd.read_csv('duration_wins.txt', delimiter="|").drop_duplicates('slot')
winners.tail()

,optimistic_submission,decode_duration,prechecks_duration,simulation_duration,redis_update_duration,total_duration,slot,block_hash
3461,f,11279,1681,115872,6435,135268,6007055,0xeec558abb441373b9e08c2f3704084e755901b2e2415...
3462,f,98769,2559,128938,5247,235514,6007098,0xfa23b5a8180a8a5b4ceea25fdca408aa0346519bb239...
3463,f,6708,1562,117799,4725,130796,6007103,0x8242f02b32c6fb6896f47495d9aa00956cf486376f70...
3464,f,7880,1603,126910,6141,142535,6007109,0x1dd0b784fd5ffd69a84bc459a891a62895b4e7dc8119...
3465,f,162974,1975,130091,8831,303873,6007110,0xa59fab2d128fee8348765557afe4ebc536f5e217feef...

In [31]:
len(winners)

3178

In [32]:
print('decode\_duration & ', end='')
st = ''
for i in [50, 75, 90, 99]:
    st += str(int(np.percentile(winners['decode_duration'], i)))
    st += " & "
print(st[:-3] + ' \\\\')
st = ''
print('prechecks\_duration & ', end='')
for i in [50, 75, 90, 99]:
    st += str(int(np.percentile(winners['prechecks_duration'], i)))
    st += " & "
print(st[:-3] + ' \\\\')
st = ''
print('simulation\_duration & ', end='')
for i in [50, 75, 90, 99]:
    st += str(int(np.percentile(winners['simulation_duration'], i)))
    st += " & "
print(st[:-3] + ' \\\\')
st = ''
print('redis\_update\_duration & ', end='')
for i in [50, 75, 90, 99]:
    st += str(int(np.percentile(winners['redis_update_duration'], i)))
    st += " & "
print(st[:-3] + ' \\\\')
st = ''
print('total\_duration & ', end='')
for i in [50, 75, 90, 99]:
    st += str(int(np.percentile(winners['total_duration'], i)))
    st += " & "
print(st[:-3] + ' \\\\')

decode\_duration & 23747 & 99930 & 125082 & 254023 \\
prechecks\_duration & 1816 & 2544 & 5045 & 195825 \\
simulation\_duration & 130161 & 164110 & 209976 & 352732 \\
redis\_update\_duration & 7133 & 10624 & 33365 & 262577 \\
total\_duration & 205203 & 271635 & 364436 & 648825 \\

In [4]:
allbids = pd.read_csv('big/noptsubs.txt', delimiter="|")
allbids['received_at'] = pd.to_datetime(allbids['received_at'], format="%Y-%m-%d%H:%M:%S.%f")
allbids['slot_boundary'] = np.asarray([pd.Timestamp(x).round(freq='12S') for x in allbids['received_at'].values])

allbids.head()

,received_at,optimistic_submission,decode_duration,prechecks_duration,simulation_duration,redis_update_duration,total_duration,slot_boundary
0,2023-03-15 16:00:23.013138,f,107453,1656,153284,7305,269701,2023-03-15 16:00:24
1,2023-03-15 16:00:22.509831,f,191313,1930,659670,14366,867280,2023-03-15 16:00:24
2,2023-03-15 16:00:23.850302,f,112643,2219,187559,8019,310441,2023-03-15 16:00:24
3,2023-03-15 16:00:23.279568,f,16979,7271,154620,10886,189758,2023-03-15 16:00:24
4,2023-03-15 16:00:23.048022,f,98952,1697,139306,6531,246488,2023-03-15 16:00:24

In [6]:
printdf(allbids)

decode\_duration & 84001 & 100782 & 140914 & 288977 \\
prechecks\_duration & 1661 & 2157 & 6796 & 305410 \\
simulation\_duration & 112216 & 147849 & 228277 & 899858 \\
redis\_update\_duration & 5922 & 8526 & 26803 & 396545 \\
total\_duration & 201624 & 286311 & 476540 & 1368168 \\

In [84]:
last_sec_bids = allbids[[v.total_seconds() < 2 and v.total_seconds() > 0 for v in allbids['slot_boundary']-allbids['received_at']]]
last_sec_bids.head()

,received_at,optimistic_submission,decode_duration,prechecks_duration,simulation_duration,redis_update_duration,total_duration,slot_boundary
0,2023-03-15 16:00:23.013138,f,107453,1656,153284,7305,269701,2023-03-15 16:00:24
1,2023-03-15 16:00:22.509831,f,191313,1930,659670,14366,867280,2023-03-15 16:00:24
2,2023-03-15 16:00:23.850302,f,112643,2219,187559,8019,310441,2023-03-15 16:00:24
3,2023-03-15 16:00:23.279568,f,16979,7271,154620,10886,189758,2023-03-15 16:00:24
4,2023-03-15 16:00:23.048022,f,98952,1697,139306,6531,246488,2023-03-15 16:00:24

In [85]:
len(allbids), len(last_sec_bids)

(484424, 195898)

In [86]:
printdf(last_sec_bids)

decode\_duration & 87647 & 105035 & 146545 & 305357 \\
prechecks\_duration & 1816 & 2717 & 24352 & 317478 \\
simulation\_duration & 130130 & 187222 & 349021 & 1181384 \\
redis\_update\_duration & 6876 & 11319 & 95008 & 547055 \\
total\_duration & 233044 & 373014 & 639200 & 1684077 \\

In [89]:
max_durs = pd.read_csv('max_durs.txt', delimiter="|")
max_durs.head()

,received_at,slot,value,simulation_duration,total_duration
0,2023-03-1317:57:47.333238,5992187,70229119102985367,89316,106133
1,2023-03-1317:57:59.632535,5992188,70580172167174184,115616,216840
2,2023-03-1318:00:11.34348,5992199,53672696822958491,302882,337499
3,2023-03-1318:00:24.376344,5992200,49879544366730413,180899,206299
4,2023-03-1318:01:12.136757,5992204,92774592214806936,199228,243908

In [91]:
st = ''
print('simulation\_duration & ', end='')
for i in [50, 75, 90, 99]:
    st += str(int(np.percentile(max_durs['simulation_duration'], i)))
    st += " & "
print(st[:-3] + ' \\\\')

simulation\_duration & 137984 & 178695 & 241779 & 545663 \\