In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import json
from datetime import datetime
plt.rcParams['axes.grid'] = True
plt.rcParams['grid.alpha'] = 0.3
plt.rcParams['axes.titlesize'] = 18

In [5]:
pka = pd.read_csv('decode_durs/pubkeya.txt', delimiter="|", 
                  names=['slot', 'received_at', 'eligible_at', 'optimistic', 'decode_duration',
                         'prechecks_duration', 'simulation_duration', 'redis_update_duration', 'total_duration'])
pka['received_at'] = pd.to_datetime(pka['received_at'], format="%Y-%m-%d%H:%M:%S.%f")
pka['eligible_at'] = pd.to_datetime(pka['eligible_at'], format="%Y-%m-%d%H:%M:%S.%f")
pka.head()

,slot,received_at,eligible_at,optimistic,decode_duration,prechecks_duration,simulation_duration,redis_update_duration,total_duration
0,6012053,2023-03-16 12:10:55.760036,2023-03-16 12:10:55.944087,f,110367,1380,67897,4405,184050
1,6012053,2023-03-16 12:10:57.385221,2023-03-16 12:10:57.582350,f,102343,1874,88389,4521,197129
2,6012053,2023-03-16 12:10:57.884796,2023-03-16 12:10:58.146450,f,105312,2206,148267,5867,261653
3,6012053,2023-03-16 12:10:58.725586,2023-03-16 12:10:58.964325,f,107769,1589,123843,5536,238738
4,6012053,2023-03-16 12:10:58.804853,2023-03-16 12:10:59.118235,f,186473,1561,111729,13617,313381

In [11]:
pkb = pd.read_csv('decode_durs/pubkeyb.txt', delimiter="|", 
                  names=['slot', 'received_at', 'eligible_at', 'optimistic', 'decode_duration',
                         'prechecks_duration', 'simulation_duration', 'redis_update_duration', 'total_duration'])
pkb['received_at'] = pd.to_datetime(pkb['received_at'], format="%Y-%m-%d%H:%M:%S.%f")
pkb['eligible_at'] = pd.to_datetime(pkb['eligible_at'], format="%Y-%m-%d%H:%M:%S.%f")
pkb.head()

,slot,received_at,eligible_at,optimistic,decode_duration,prechecks_duration,simulation_duration,redis_update_duration,total_duration
0,6012053,2023-03-16 12:10:58.701198,2023-03-16 12:10:58.801983,f,9936,1342,84231,5274,100785
1,6012053,2023-03-16 12:10:58.885416,2023-03-16 12:10:59.018903,f,8731,1847,116855,6052,133486
2,6012053,2023-03-16 12:10:58.811966,2023-03-16 12:10:58.927534,f,11236,1819,92661,9850,115567
3,6012053,2023-03-16 12:10:56.947012,2023-03-16 12:10:57.041144,f,8933,2410,77435,5353,94131
4,6012053,2023-03-16 12:10:56.564883,2023-03-16 12:10:56.666451,f,8300,1375,86642,5249,101567

In [28]:
pkc = pd.read_csv('decode_durs/pubkeyc.txt', delimiter="|", 
                  names=['slot', 'received_at', 'eligible_at', 'optimistic', 'decode_duration',
                         'prechecks_duration', 'simulation_duration', 'redis_update_duration', 'total_duration'])
pkc['received_at'] = pd.to_datetime(pkc['received_at'], format="%Y-%m-%d%H:%M:%S.%f")
pkc['eligible_at'] = pd.to_datetime(pkc['eligible_at'], format="%Y-%m-%d%H:%M:%S.%f")
pka.head()

,slot,received_at,eligible_at,optimistic,decode_duration,prechecks_duration,simulation_duration,redis_update_duration,total_duration
0,6012053,2023-03-16 12:10:55.760036,2023-03-16 12:10:55.944087,f,110367,1380,67897,4405,184050
1,6012053,2023-03-16 12:10:57.385221,2023-03-16 12:10:57.582350,f,102343,1874,88389,4521,197129
2,6012053,2023-03-16 12:10:57.884796,2023-03-16 12:10:58.146450,f,105312,2206,148267,5867,261653
3,6012053,2023-03-16 12:10:58.725586,2023-03-16 12:10:58.964325,f,107769,1589,123843,5536,238738
4,6012053,2023-03-16 12:10:58.804853,2023-03-16 12:10:59.118235,f,186473,1561,111729,13617,313381

In [24]:
printdf(pka[pka['optimistic']=='f'])

decode\_duration & 138464 & 200748 & 293624 & 400298 \\
prechecks\_duration & 1763 & 2418 & 5179 & 296829 \\
simulation\_duration & 129669 & 166990 & 231593 & 714667 \\
redis\_update\_duration & 7129 & 10955 & 29209 & 467807 \\
\textbf{total\_duration} & \textbf{296517} & \textbf{406690} & \textbf{562900} & \textbf{1596849} \\

In [27]:
printdf(pkb[pkb['optimistic']=='f'])

decode\_duration & 15626 & 25349 & 36474 & 88924 \\
prechecks\_duration & 1725 & 2278 & 4066 & 242843 \\
simulation\_duration & 123699 & 156946 & 209962 & 606226 \\
redis\_update\_duration & 6945 & 10345 & 23090 & 411211 \\
\hline
\textbf{total\_duration} & \textbf{154569} & \textbf{202073} & \textbf{309057} & \textbf{1217353} \\

In [29]:
printdf(pkc[pkc['optimistic']=='f'])

decode\_duration & 153334 & 228625 & 318582 & 419130 \\
prechecks\_duration & 1873 & 2736 & 6839 & 290666 \\
simulation\_duration & 139685 & 182880 & 267483 & 909616 \\
redis\_update\_duration & 7895 & 12852 & 45489 & 470405 \\
\hline
\textbf{total\_duration} & \textbf{329005} & \textbf{464617} & \textbf{626499} & \textbf{1738598} \\

In [30]:
pka_2 = pd.read_csv('decode_durs/pubkeya_post.txt', delimiter="|", 
                  names=['slot', 'received_at', 'eligible_at', 'optimistic', 'decode_duration',
                         'prechecks_duration', 'simulation_duration', 'redis_update_duration', 'total_duration'])
pka_2['received_at'] = pd.to_datetime(pka_2['received_at'], format="%Y-%m-%d%H:%M:%S.%f")
pka_2['eligible_at'] = pd.to_datetime(pka_2['eligible_at'], format="%Y-%m-%d%H:%M:%S.%f")
pka_2.head()

,slot,received_at,eligible_at,optimistic,decode_duration,prechecks_duration,simulation_duration,redis_update_duration,total_duration
0,6049146,2023-03-21 15:49:32.031570,2023-03-21 15:49:32.045923,t,4436,1823,2,8090,14352
1,6049146,2023-03-21 15:49:34.574787,2023-03-21 15:49:34.611724,t,30213,1508,8,5206,36936
2,6049146,2023-03-21 15:49:34.384231,2023-03-21 15:49:34.433168,t,34991,5256,3,8686,48937
3,6049146,2023-03-21 15:49:34.450051,2023-03-21 15:49:34.483979,t,27860,1445,7,4612,33927
4,6049146,2023-03-21 15:49:34.869539,2023-03-21 15:49:34.919059,t,40943,1785,8,6782,49520

In [31]:
printdf(pka[pka['optimistic']=='t'])

decode\_duration & 136578 & 198185 & 294049 & 418546 \\
prechecks\_duration & 1755 & 2422 & 5696 & 465805 \\
simulation\_duration & 8 & 10 & 13 & 29 \\
redis\_update\_duration & 7240 & 11613 & 30716 & 537172 \\
\hline
\textbf{total\_duration} & \textbf{151922} & \textbf{227457} & \textbf{344526} & \textbf{1335172} \\

In [33]:
printdf(pka_2[pka_2['optimistic']=='t'])

decode\_duration & 41591 & 114484 & 191925 & 323628 \\
prechecks\_duration & 1778 & 2444 & 5067 & 375689 \\
simulation\_duration & 8 & 10 & 13 & 30 \\
redis\_update\_duration & 7254 & 11096 & 34570 & 1023302 \\
\hline
\textbf{total\_duration} & \textbf{53790} & \textbf{143288} & \textbf{236991} & \textbf{1924382} \\

In [36]:
len(pka_2[pka_2['optimistic']=='t'])

3143

In [26]:
def printdf(df):
    print('decode\_duration & ', end='')
    st = ''
    for i in [50, 75, 90, 99]:
        st += str(int(np.percentile(df['decode_duration'], i)))
        st += " & "
    print(st[:-3] + ' \\\\')
    st = ''
    print('prechecks\_duration & ', end='')
    for i in [50, 75, 90, 99]:
        st += str(int(np.percentile(df['prechecks_duration'], i)))
        st += " & "
    print(st[:-3] + ' \\\\')
    st = ''
    print('simulation\_duration & ', end='')
    for i in [50, 75, 90, 99]:
        st += str(int(np.percentile(df['simulation_duration'], i)))
        st += " & "
    print(st[:-3] + ' \\\\')
    st = ''
    print('redis\_update\_duration & ', end='')
    for i in [50, 75, 90, 99]:
        st += str(int(np.percentile(df['redis_update_duration'], i)))
        st += " & "
    print(st[:-3] + ' \\\\')
    st = ''
    print('\\hline')
    print('\\textbf{total\_duration} & ', end='')
    for i in [50, 75, 90, 99]:
        st += '\\textbf{{{}}}'.format(str(int(np.percentile(df['total_duration'], i))))
        st += " & "
    print(st[:-3] + ' \\\\')