In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import json
from datetime import datetime

In [2]:
df = pd.read_csv('header_only.csv', delimiter="|")
df.head()

,read_header_duration,read_duration,decode_duration,cache_read_duration,randao_lock_2_duration,simulation_duration,redis_update_duration,submission_duration,optimistic_submission
0,57,255205,1655,420,5051,13,12004,274372,t
1,94,252915,1538,273,2489,14,7569,264826,t
2,77,258543,1380,321,2400,15,8539,271218,t
3,89,253895,1982,408,2509,14,8287,267115,t
4,37454,371602,2305,321,2685,15,8823,385800,t

In [10]:
for i in [50, 75, 90, 99]:
    print(int(np.percentile(df['read_duration'], i)), end=' & ')
print()
for i in [50, 75, 90, 99]:
    print(int(np.percentile(df['read_header_duration'], i)), end=' & ')
print()
for i in [50, 75, 90, 99]:
    print(int(np.percentile(df['decode_duration'], i)), end=' & ')

100381 & 125728 & 175633 & 418684 &
61 & 81 & 139 & 15563 &
1286 & 2515 & 6753 & 198932 &

In [5]:
df = pd.read_csv('header_only_multistream.csv', delimiter="|")
df.head()

,read_header_duration,read_duration,decode_duration,cache_read_duration,randao_lock_2_duration,simulation_duration,redis_update_duration,submission_duration,optimistic_submission
0,63,0,152688,432,3420,6,11405,167975,t
1,63,0,110645,362,2500,95573,16416,225515,f
2,114,0,102331,438,2619,14,13649,119074,t
3,83,0,158982,381,2447,15,16792,178640,t
4,90,0,194945,460,2632,15,11199,209275,t

In [7]:
for i in [50, 75, 90, 99]:
    print(int(np.percentile(df['read_header_duration'], i)), end=' & ')
print()
for i in [50, 75, 90, 99]:
    print(int(np.percentile(df['decode_duration'], i)), end=' & ')

66 & 96 & 1245 & 16403 &
84099 & 110604 & 154547 & 315076 &