In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import json
from datetime import datetime

In [2]:
df = pd.read_csv('header_only.csv', delimiter="|")
df.head()

,read_header_duration,read_duration,decode_duration,cache_read_duration,randao_lock_2_duration,simulation_duration,redis_update_duration,submission_duration,optimistic_submission
0,57,255205,1655,420,5051,13,12004,274372,t
1,94,252915,1538,273,2489,14,7569,264826,t
2,77,258543,1380,321,2400,15,8539,271218,t
3,89,253895,1982,408,2509,14,8287,267115,t
4,37454,371602,2305,321,2685,15,8823,385800,t

In [10]:
for i in [50, 75, 90, 99]:
    print(int(np.percentile(df['read_duration'], i)), end=' & ')
print()
for i in [50, 75, 90, 99]:
    print(int(np.percentile(df['read_header_duration'], i)), end=' & ')
print()
for i in [50, 75, 90, 99]:
    print(int(np.percentile(df['decode_duration'], i)), end=' & ')

100381 & 125728 & 175633 & 418684 &
61 & 81 & 139 & 15563 &
1286 & 2515 & 6753 & 198932 &